@model TechMove.Models.DTOs.ClientDashboardFrontendDto

<section class="clientPortalContainer">

    <h1>Lets get to business, pick your userName!</h1>

    <form class="clientPortalForm" asp-action="Dashboard" method="get">

        <select name="clientId"
                asp-items="ViewBag.Clients"
                class="form-control">

            <option value="">-- Select Client --</option>

        </select>

        <button type="submit" class="btn btn-dark">
            Continue
        </button>

    </form>
</section>