@model TechMove.Models.DTOs.SingleContractFrontendDto

<h1>Submit your signed contract</h1>
<form enctype="multipart/form-data" asp-action="UploadAgreement" asp-route-id="@Model.Id">
    
    <div class="form-group">
        <label>Signed Supply Agreement pdf</label>
        <input type="file" name="ConfirmedSignedAgreement" class="form-control" />
    </div>
    <br />
    <button class="btn btn-dark" type="submit" >Submit</button>
</form>