@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TechMove</h1>
    <a class="btn btn-dark" asp-controller="Contracts" asp-action="Index">Admin Portal</a>
    <a class="btn btn-dark" asp-controller="ClientPortal" asp-action="Index">Client Portal</a>
</div>
